/* Front page module background colors */

.display1-1, .display1-2, .display1-3, .display1-4 {
	background-color: #1f4368;
} 

.display2-1, .display2-2, .display2-3, .display2-4 {
	background-color: #fff;
}

.display3-1, .display3-2, .display3-3, .display3-4 {
	background-color: #1f4368;
} 

.display4-1, .display4-2, .display4-3, .display4-4 {
	background-color: #fff;
}

.front1-1, .front1-2, .front1-3, .front1-4 {
	background-color: #1f4368;
} 

.front2-1, .front2-2, .front2-3, .front2-4 {
	background-color: #fff;
}

.front3-1, .front3-2, .front3-3, .front3-4 {
	background-color: #dc6e02;
} 

.front4-1, .front4-2, .front4-3, .front4-4 {
	background-color: #fff;
}

.bottom1-1, .bottom1-2, .bottom1-3, .bottom1-4 {
	background-color: #1f4368;
} 

.bottom2-1, .bottom2-2, .bottom2-3, .bottom2-4 {
	background-color: #fff;
}

.bottom3-1, .bottom3-2, .bottom3-3, .bottom3-4 {
	background-color: #1f4368;
}

.bottom4-1, .bottom4-2, .bottom4-3, .bottom4-4 {
	background-color: #fff;
}

.front1-2 {
	background-image: url(../images/f1-back.jpg);
	max-height:800px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:right bottom;
	//border-bottom: solid 4px #fff;
}

.front2-3 {
	background-image: url(../images/f2-back.jpg);
	max-height:800px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:right top;
	border-bottom: solid 4px #fff;
}


.front3-1 { 
	background-image: url(../images/f3-back.jpg);
	max-height:800px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:center bottom;
	//border-bottom: solid 4px #fff;
}
/* 
.footer1-3 {
	background-image: url(../images/footer-bg.jpg);
	max-height:800px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:center bottom;
	//border-bottom: solid 4px #fff;
}
*/

/*  */

#front1a #mod-container {
	background-color: #ff6600;
	color: #fff; 
}

#front1b #mod-container {
	background-color: #ffcc00;
	color: #; 
}

#front2a .sketch2, #front2a ul {
	color: #1f4368;
}

#front2b .sketch2, #front2b ul {
	color: #ff6600;
}

#front2c .sketch2, #front2c ul {
	color: #1f4368;
}

#front2a ul, #front2b ul, #front2c ul {
	margin: 15px 0px 10px 30px; 
	font-size: 16px;
	font-weight: bold;
	text-shadow:
	   -1px -1px 0 #fff,  
	   1px -1px 0 #fff,
	   -1px 1px 0 #fff,
	   1px 1px 0 #fff;
}

#front2a ul li, #front2b ul li, #front2c ul li {
	padding: 0px 0px 5px 0px; 
}

#front2a .sketch2, #front2b .sketch2, #front2c .sketch2 {
	font-weight: bold;
	text-shadow:
	   -1px -1px 0 #fff,  
	   1px -1px 0 #fff,
	   -1px 1px 0 #fff,
	   1px 1px 0 #fff;
}

/* Main content background color */

.main-content {
	background-color: #1f4368;
}

/* Footer background color */

.footer {
	background-color: #666;
}

/* Header and logo size */

.header .brand img {
	max-width: 600px;
}

@media (max-width: 700px) {
	.header .brand img {
		max-width: 100%;
	}
}

/* Header logo position */

.header .brand {
	text-align: left;
} 

/* Fonts and paragraphs */

p {
	font-size: 16px;
}

.sketch1 {
	font-size: 36px;
}

.sketch2 {
	font-size: 24px;
}

.sketch3 {
	font-size: 18px;
}

.heading {
	margin-bottom: 10px;
}



.img-intro img { 
	width: 200px;
}


input[type="search"] {
	font-size: 11px;
}


#copyright {
	color: #fff;
}

#copyright-top {
	color: #fff;
}



#mod-container {
	margin: 10px 5px 10px 5px;
	padding: 20px;
	background-color: #fff;
	border: 1px solid #000;
	height: 150px;
	overflow: hidden;
}

#display #mod-container {
	background-color: transparent;
	color: #fff;
	border: none;
}

.front1-2 #mod-container {
	//background-color: transparent;
	//color: #fff;
	border: none;
	height: 200px;
}

.front2-3 #mod-container {
	background-color: transparent;
	color: #fff;
	border: none;
	height: 250px;
}

.footer1-3 #mod-container {
	background-color: transparent;
	color: #fff;
	border: none;
	height: 250px;
}


/* Front page image and positioning */

.front-display {
	background-image: url(../images/zg-back.jpg);
	max-height:800px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:left top;
	border-bottom: solid 4px #fff; 
}

@media (min-width: 1700px) {
	.front-display {
		background-image: url(../images/zg-back-large.jpg);
	}
}


.inside-display {
	background-image: url(../images/zg-inside-back.jpg);
	max-height:300px;
	background-repeat:repeat-x;
	background-size:cover;
	background-position:left top;
}

@media (max-width: 500px) {
	#front-main {
	    min-height: 825px;;
	}
}





.navigation .menutop li.active > .item  {
    background-color: #3d6288;
    border: none;
    color: #fff;
}

.navigation .menutop li.active:hover > .item  {
    background-color: #3d6288;
    border: none;
    color: #fff;
}

.navigation .menutop li:hover .item:hover, .menutop li.active .item:hover  {
	background-color:#3d6288;
	border: none;
	color:#fff;
}

.navigation .menutop li > .item  {
    background-color: #1f4368;
    border: none;
    color: #fff;
}

.navigation .menutop li:hover > .item  {
    background-color: #3d6288;
    border: none;
    color: #fff;
}

body .menutop .level2 li > .item {
	color: #fff;
    background-color: #1f4368;
    border: none;
}

#mod-search-searchword {
	margin-top:5px;
	margin-right:5px;
}


.createdby, .category-name {
	width:auto;
	float:left;
	margin-right:10px;
}

.article-info {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 5px 0px 5px 0px;
}



.navigation .menutop li.root > .daddy, .navigation .menutop li.root:hover > .daddy {
    background-image: none; 
    background-position: 100% 100%;
    background-repeat: no-repeat;
}

.navigation .menutop li.root.active > .daddy, .navigation .menutop li.root.active:hover > .daddy {
    background-image: none;
    background-position: 100% 100%;
}

.navigation .menutop li.root:hover > .daddy:hover {background-image:url(../images/top-light.png);background-position: 100% 100%;}

.menutop li .item {
    text-decoration: none;
    display: block;
    padding: 0 10px;
    background: #ddd;
    border-color: #eee #ccc #ccc #eee;
    border-style: solid;
    border-width: 1px;
    color: #333333;
    text-decoration: none;
}







/* Front page styles */

#front1, #front2, #front3, #front4, #bottom1, #bottom2, #bottom3, #bottom4, .footer1, #copyright, #copyright-top, .header {
	width:85%;
	max-width:1700px;
	margin: 0 auto;
}

#inside-padding {
	padding: 0px 10px 0px 10px;
}

#front-main {
	width: 60%;
	max-height:600px;
	min-height:300px;
	max-width:1000px;
	margin-top:5px;
	margin-left:30%;
	margin-right:10%;
	float: left;
	//background-color:rgba(255, 255, 255, .5);
	//opacity:.75;
	//border: 2px solid #fff;
}

/* Module widths auto adjust by position count */

.front1-1 .frontbox, .front2-1 .frontbox, .front3-1 .frontbox, .front4-1 .frontbox, .display1-1 .displaybox, .display2-1 .displaybox, .display3-1 .displaybox, .display4-1 .displaybox, .footer1-1 .footerbox, .footer2-1 .footerbox, .footer3-1 .footerbox, .footer4-1 .footerbox {
	width:100%;
	margin: 0 auto;
}

.front1-2 .frontbox, .front2-2 .frontbox, .front3-2 .frontbox, .front4-2 .frontbox, .display1-2 .displaybox, .display2-2 .displaybox, .display3-2 .displaybox, .display4-2 .displaybox, .footer1-2 .footerbox, .footer2-2 .footerbox, .footer3-2 .footerbox, .footer4-2 .footerbox {
	width:50%;
	margin: 0 auto;
	float: left;
}

.front1-3 .frontbox, .front2-3 .frontbox, .front3-3 .frontbox, .front4-3 .frontbox, .display1-3 .displaybox, .display2-3 .displaybox, .display3-3 .displaybox, .display4-3 .displaybox, .footer1-3 .footerbox, .footer2-3 .footerbox, .footer3-3 .footerbox, .footer4-3 .footerbox {
	width:33.3%;
	margin: 0 auto;
	float: left;
} 

.front1-4 .frontbox, .front2-4 .frontbox, .front3-4 .frontbox, .front4-4 .frontbox, .display1-4 .displaybox, .display2-4 .displaybox, .display3-4 .displaybox, .display4-4 .displaybox, .footer1-4 .footerbox, .footer2-4 .footerbox, .footer3-4 .footerbox, .footer4-4 .footerbox {
	width:25%;
	margin: 0 auto;
	float: left;
}

#display2.displaybox {
	width: 80%;
	margin-left:20%;
}

@media (max-width: 900px) {
	.front1-4 .frontbox, .front2-4 .frontbox, .front3-4 .frontbox, .front4-4 .frontbox {
	    width: 50%;
	    margin: 0 auto;
	    float: left;
	}
}

@media (max-width: 750px) {
	.front1-3 .frontbox, .front2-3 .frontbox, .front3-3 .frontbox, .front4-3 .frontbox {
		width:100%;
		margin: 0 auto;
		float: left;
	} 
}

@media (max-width: 500px) {
	.front1-2 .frontbox, .front2-2 .frontbox, .front3-2 .frontbox, .front4-2 .frontbox {
		width:100%;
		margin: 0 auto;
		float: left;
	}
	
	.front1-4 .frontbox, .front2-4 .frontbox, .front3-4 .frontbox, .front4-4 .frontbox {
		width:100%;
		margin: 0 auto;
		float: left;
	}
}






body.site {
    padding: 0px;
} 

.container-fluid {
	padding: 0px;
}



.header {
    margin-bottom: 0px;
	padding-top: 10px;
	border: none;
}





.navigation {
	background-color: #1f4368;
	height: 0px;
	overflow: auto;
    padding: 0px;
    border-top: 8px solid #fff;
    border-bottom: 1px solid rgba(0,0,0,0.075);
    margin-bottom: 10px;
} 

.navbar {
	width:85%;
	max-width:1700px;
	margin: 0 auto;
} 

.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
    color: #fff;
    text-decoration: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar .nav > li > a {
    text-shadow: none;
}

.nav-pills > li > a {
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height: 100%;
}

.navbar .nav > li > a {
    float: none;
    padding: 5px 10px 10px 3px;
    color: #555;
    text-decoration: none;
    text-shadow: none;
}


input.search-query {
    padding: 0px 5px 0px 5px;
    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.header-search {
	float: right;
}


.main-content {
	padding: 0px 0px 0px 5px;
	margin: 0px;
}

.main-content .row-fluid {
	width:85%;
	max-width:1700px;
	margin: 0 auto;
	padding: 5px;
}

.main-content .row-fluid #content {
	background-color: #fff;
	padding: 20px;
}

.row-fluid [class*="span"] {
    display: block;
    float: left;
    margin-left: 1%;
}

.row-fluid .span3 {
    width: 24%;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.05);
}
