.gcore-toolbar {padding: 30px 4px 10px 4px !important;}
.toolbar-button{padding:18px 0px 0px 0px !important;}
.gcore-toolbar-box{float:right;/*clear:both;*/padding-bottom:8px;}
.page_title{float:left;}